.grid-item1 {
    grid-area: header;
}

.grid-item2 {
    grid-area: nav;
}

.grid-item3 {
    grid-area: section;
    
}

.grid-item4 {
    grid-area: aside;
    
}

.grid-item5 {
    grid-area: events;
    
}

.grid-item6 {
    grid-area: footer;
}

.grid-item7 {
    grid-area: adress1;
}

.grid-item8 {
    grid-area: adress2;
}

.grid-item9 {
    grid-area: copyright;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'nav nav nav nav' 'section section section events' 'section section section aside' 'footer footer footer footer';
    grid-gap: 10px;
    background-color: lightgray;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    grid-auto-columns: 320px
}

.grid-container > div {
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(32, 32, 32, 0.6);
}

.footer-container {
    display: grid;
    grid-template-areas: 'adress1 adress2 copyright copyright';
}

.grid-item1,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
    padding: 10px 10px 5px 10px;
}

@media screen and (max-width:780px) {
    .grid-item2,
    .grid-item5 {
        max-width: none;
    }
    .grid-item4 {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 'header' 'menu' 'section' 'events' 'adress' 'footer';
        grid-gap: 5px;
        background-color: lightgray;
        padding: 10px;
        width: 95%
    }
    .footer-container {
        display: grid;
        grid-template-areas: 'adress1' 'adress2' 'copyright' 'copyright';
        grid-gap: 10px;
    }
